@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

* { box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e54b4b;
}

h1,h2 { font-weight: 800; color: #fff; }

.container {
  width: 600px;
  margin: 0 auto;
}

.panel-userpost {
  background-color: #eee;
  margin-bottom: 4px;
  padding: 10px;
  color: #333;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}